* {
  margin: 0;
  padding: 0;
}
.main-wrapper {
  max-width: 800px;
  min-height: 500px;
  background-color: #efefef;
  margin: 0 auto;
  padding: 15px;
}
.loading-wrapper {
  height: 500px;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-card {
  width: 200px;
}

/* Weather Card Styles */
.weather-unit {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Carouse Styles */
.carousel-wrapper {
  max-width: 650px;
  margin: 15px auto;
  position: relative;
  padding-left: 20px;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  cursor: pointer;
}
.arrow img {
  width: 100%;
}
.arrow.left {
  left: -25px;
}
.arrow.right {
  right: -30px;
}
